#### Dependencies:

In [17]:
import os
import torch #pip install torch
import numpy as np #pip install numpy
import pandas as pd 
import pickle
import xgboost as xgb #pip install xgboost
import tensorflow as tf #pip install tensorflow
from tensorflow.keras import layers
from rdkit import Chem #conda install -c rdkit rdkit
from rdkit.Chem import Crippen 
from rdkit.Chem import Descriptors
import shutil
import warnings
import esm #pip install fair-esm

In [18]:
from KM_prediction import *
import os
from os.path import join 
#import torch
CURRENT_DIR = os.getcwd()

Before using KM prediction, we have to download the ESM-1b model:

Example for calculating KM prediction:

In [4]:
from KM_prediction import *

df = KM_predicton(substrate_list = ["C00053",
                               "C00047",
                               "C00001",
                               "D11111",
                               "D55555",
                               "Clc(c(Cl)c(Cl)c1C(=O)O)c(Cl)c1Cl",
                              "InChI=1S/C2H6O/c1-2-3/h3H,2H2,1H3",
                               "bullshit"], 
             enzyme_list = ["MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDIAYLRSLGYNIVATPRGYVLAGG",
                            "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI",
                           "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI"*2000,
                            "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI",
                            "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI",
                            "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI",
                            "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI",
                            "MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI"])

Step 1/3: Calculating numerical representations for all metabolites.
.....1(a) Calculating input matrices for Graph Neural Network
.......Metabolite string 'bullshit' could be neither classified as a valid KEGG ID, InChI string or SMILES string
.......Mol file for KEGG ID 'D55555' is not available. Try to enter InChI string or SMILES for the metabolite instead.
.....1(b) Calculating numerical metabolite representations using a Graph Neural Network
Step 2/3: Calculating numerical representations for all enzymes.
.....2(a) Loading ESM-1b model.
.....2(b) Calculating enzyme representations.
Step 3/3: Making predictions for KM.

,substrate,enzyme,GNN rep,enzyme rep,complete,KM [mM]
0,C00053,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDIAYL...,"[14.946649, 102.30986, 4.192555, 64.27689, 0.0...","[0.17446543, 0.054929584, 0.0044517936, 0.0676...",True,0.042268
1,C00047,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI,"[3.1038222, 29.857977, 8.0022135, 9.822599, 2....","[0.20014958, 0.105307356, -0.04520698, 0.10331...",True,0.278225
2,C00001,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDIMKT...,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670061, ...","[0.22831923, 0.1805236, 0.20466162, 0.16123375...",True,0.580686
3,D11111,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI,"[17.288883, 210.42155, 39.163326, 58.492737, 6...","[0.20014958, 0.105307356, -0.04520698, 0.10331...",True,0.019442
4,D55555,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI,,,False,NaN
5,Clc(c(Cl)c(Cl)c1C(=O)O)c(Cl)c1Cl,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI,"[3.8353825, 61.137238, 6.01604, 49.03715, 0.0,...","[0.20014958, 0.105307356, -0.04520698, 0.10331...",True,0.016512
6,"InChI=1S/C2H6O/c1-2-3/h3H,2H2,1H3",MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI,"[0.0, 2.6281598, 0.05236298, 0.0, 0.087410755,...","[0.20014958, 0.105307356, -0.04520698, 0.10331...",True,0.820929
7,bullshit,MKTVRQERLKSIVRILERSKEPVSGAQLAEELSVSRQVIVQDI,,,False,NaN

In [19]:
from tkinter import *
from pandas import read_pickle
from pandas import to_pickle
import tkinter.font as tkFont
from KM_prediction import *

import time

def evaluate(event):
    df = KM_predicton(substrate_list = [entry2.get()], 
             enzyme_list = [entry1.get()])
    res.configure(text = "KM: " + str(df["KM [mM]"][0]) , font = fontStyle)
    
w = Tk()
fontStyle = tkFont.Font(family="Lucida Grande", size=15)
Label(w, text="Amino acid sequence:", width= 30, height = 4, font=fontStyle).pack()
entry1 = Entry(w, font = fontStyle)
entry1.bind("<Return>", evaluate)
entry1.pack()

fontStyle = tkFont.Font(family="Lucida Grande", size=15)
Label(w, text="InChI string:", width= 30, height = 4, font=fontStyle).pack()
entry2 = Entry(w, font = fontStyle)
entry2.bind("<Return>", evaluate)
entry2.pack()

res = Label(w)
res.pack()
w.mainloop()

Step 1/3: Calculating numerical representations for all metabolites.
.....1(a) Calculating input matrices for Graph Neural Network
.....1(b) Calculating numerical metabolite representations using a Graph Neural Network
Step 2/3: Calculating numerical representations for all enzymes.
.....2(a) Loading ESM-1b model.
.....2(b) Calculating enzyme representations.
Step 3/3: Making predictions for KM.

In [15]:
datasets_dir = "C:\\Users\\alexk\\projects\\kcat_prediction_V3\\data\\"
df = pd.read_pickle(join(datasets_dir,"brenda_data" , "brenda_df_kcat_curated_brenda.pkl"))
df.loc[df["correct reaction ID"] == 1878]

,index,ID,EC,kcat,ORGANISM,PMID,kcat_new,correct reaction ID,comment,new,enzyme,correct kcat,UNIPROT_list,LITERATURE,checked,Sequence,ESM1b,structural fp,difference fp,small_difference fp
0,0.0,1152.0,1.1.1.49,1120,Pseudomonas fluorescens,1257.0,-,1878,NaN,False,NaN,1120,[],286985,True,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[-0.02510768, 0.17937289, -0.022310873, 0.1016...",1100111100000001001000110110010001000101111100...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."

In [25]:
metabolites_KM = pd.read_pickle(join(datasets_dir,"metabolite_data", "metabolites_KM_with_rep_curated.pkl"))
reaction_df = pd.read_pickle(join(datasets_dir, "reaction_data", "reaction_df_brenda_with_fingerprints_V2.pkl"))
mets = list(reaction_df["substrates_list"].loc[reaction_df["reaction ID"] == 1878])[0]

['D-glucose 6-phosphate', 'H2O', 'NADP+']

In [28]:
KM_predicton(substrate_list = ["C00006", "C00001", "C00092"], 
             enzyme_list = [df["Sequence"][0], df["Sequence"][0], df["Sequence"][0]])

Step 1/3: Calculating numerical representations for all metabolites.
.....1(a) Calculating input matrices for Graph Neural Network
.....1(b) Calculating numerical metabolite representations using a Graph Neural Network

,metabolite,type,ID,successfull,number_atoms,LogP,MW,GNN rep
0,C00092,KEGG,metabolite_0,True,16,-3.1044,260.029719,"[0.97593224, 55.021576, 0.8896525, 21.778828, ..."
1,C00006,KEGG,metabolite_1,True,48,-2.8989,744.082729,"[21.70252, 177.21861, 10.161061, 106.159904, 0..."
2,C00001,KEGG,metabolite_2,True,1,-0.8247,18.010565,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670061, ..."

Step 2/3: Calculating numerical representations for all enzymes.
.....2(a) Loading ESM-1b model.
.....2(b) Calculating enzyme representations.

,amino acid sequence,ID,model_input,enzyme rep
0,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,protein_0,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[-0.025107687, 0.1793729, -0.022310918, 0.1016..."

Step 3/3: Making predictions for KM.

,substrate,enzyme,index,GNN rep,enzyme rep,complete
0,C00006,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,0,"[21.70252, 177.21861, 10.161061, 106.159904, 0...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True
1,C00001,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,1,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670061, ...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True
2,C00092,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,2,"[0.97593224, 55.021576, 0.8896525, 21.778828, ...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True

,substrate,enzyme,GNN rep,enzyme rep,complete,KM [mM]
0,C00006,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[21.70252, 177.21861, 10.161061, 106.159904, 0...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True,0.022732
1,C00001,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670061, ...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True,1.929706
2,C00092,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[0.97593224, 55.021576, 0.8896525, 21.778828, ...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True,0.292499

,substrate,enzyme,GNN rep,enzyme rep,complete,KM [mM]
0,C00006,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[21.70252, 177.21861, 10.161061, 106.159904, 0...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True,0.022732
1,C00001,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670061, ...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True,1.929706
2,C00092,MTANGKKLKAEPAPPTTLFLFGAHGDLVKRLLMPALYNLSRDGLLG...,"[0.97593224, 55.021576, 0.8896525, 21.778828, ...","[-0.025107687, 0.1793729, -0.022310918, 0.1016...",True,0.292499

In [27]:
metabolites_KM.loc[metabolites_KM["metabolite"].isin(mets)]

,metabolite,InchiKey,InChI Code,KEGG ID,molecule ID,successfull,MW,LogP,GNN FP
921,NADP+,,NaN,C00006,mol_921,True,744.082729,-2.89890,"[21.702517, 177.21863, 10.161067, 106.15991, 0..."
2210,H2O,,NaN,C00001,mol_2210,True,18.010565,-0.82470,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670058, ..."
4754,D-glucose 6-phosphate,NBSCHQHZLSJFNQ-GASJEMHNSA-N,"InChI=1S/C6H13O9P/c7-3-2(1-14-16(11,12)13)15-6...",C00092,mol_4754,True,260.029719,-3.10440,"[0.9759329, 55.02157, 0.88965225, 21.778831, 0..."
6951,NADP+,NaN,InChI=1S/C21H28N7O17P3/c22-17-12-19(25-7-24-17...,NaN,mol_6951,True,744.082729,-2.11443,"[22.149586, 185.1, 12.043566, 116.02242, 0.049..."
6996,H2O,NaN,InChI=1S/H2O/h1H2,NaN,mol_6996,True,18.010565,-0.82470,"[0.017944477, 0.0, 0.0, 0.0, 0.0, 0.12670058, ..."